@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  min-width: 0;
  overflow-x: hidden;
  overscroll-behavior-x: none;
  -webkit-overflow-scrolling: touch;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-width: 0;
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  scroll-padding-bottom: 250px;
}
